.container {
  padding: 20px 30px;
  height: 100%;
}

.projectListHeader {
  margin-bottom: 20px;
  font-size: 1.3em;
}
.projectListItem {
  margin: 10px 0;
  font-size: 1.1em;
}

.header {
  margin-bottom: 20px;
}
.headerTitle {
  font-size: 2em;
  margin-bottom: 5px;
}
.headerSubtitle {
  color: grey;
}
.playbookLink {
  font-size: 0.8em;
  font-style: italic;
  color: grey;
}
