.container {
  padding: 20px 30px;
  height: 100%;
}

.header {
  margin-bottom: 20px;
}
.headerTitle {
  font-size: 2em;
  margin-bottom: 5px;
}
.headerSubtitle {
  color: grey;
}
.headerDivider {
  height: 2px;
  background-color: #cccccc;
}
.playbookLink {
  font-size: 0.8em;
  font-style: italic;
  color: grey;
}

.projectList {
  margin-top: 20px;
}
.projectListPrompt {
  margin: 20px 0;
  color: grey;
}
.projectListItem {
  margin: 10px 0;
  padding-left: 10px;
  font-size: 1.1em;
}

.confirmation {
  padding: 20px 0;
}

.confirmationSection {
  margin: 15px 0;
  max-width: 440px;
  text-align: center;
}
.confirmationSectionLight {
  font-style: italic;
  font-weight: lighter;
}

.underline {
  text-decoration: underline;
}

.empty {
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 50px;
}
