.progress {
  font-size: 1.2rem;
  width: 100%;
}

.numMembers {
  color: #3f51b5;
}

.open {
  color: green;
}

.closed {
  color: red;
}

.title {
  font-weight: 500;
  color: #757575;
}

.votingPoolResults {
  display: block
}

.userGrid * {
  /*
   * make sure that, as the goals are animated to slide-down, they do so
   * behind the user grid
   */
  z-index: 1;
  background: white;
}

.toggleControl {
  cursor: pointer;
}
