.enter {
  max-height: 0;
  transition: all 0.5s ease-in;
}
.enterActive {
  max-height: 1000px;
}
.leave {
  max-height: 1000px;
  transition: all 0.5s ease-out;
}
.leaveActive {
  max-height: 0;
  overflow: hidden;
}
