.projectList {
  margin-top: 20px;
}

.projectListPrompt {
  margin: 20px 0;
  color: grey;
}

.projectListItem {
  margin: 10px 0;
  padding-left: 10px;
  font-size: 1.1em;
}

.header {
  margin-bottom: 20px;
}

.headerDivider {
  height: 2px;
  background-color: #cccccc;
}
