@import "node_modules/react-toolbox/lib/_colors";

.projectUserSummary {
  font-size: 1.3rem;
  line-height: 2rem;
  padding: 20px 0;
  border-bottom: 1px solid $palette-grey-300;
  min-width: 400px;
}

.summary {
  .column {
    max-width: 300px;
  }
  .subcolumn {
    margin-right: 10px;
  }
  .betaStat {
    color: #00A3DF;
    font-style: italic;
  }
}

.evaluation {
  font-size: 1.4rem;
  margin-top: 20px;
  color: $palette-grey-500;
  font-style: italic;
}

.userAvatar {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  margin-top: 3px;
}
.userAvatarLink,
.userAvatarImg {
  width: 100%;
  height: 100%;
}
.userAvatarImg {
  border-radius: 5%;
}
.userLink {
  color: $palette-grey-700;
}
.userLink:hover {
  text-decoration: underline;
}

.theme__toggle__1Zy-o {
  background: transparent;
  border-radius: 50%;
}

.lockButtons {
  margin-left: -1.2rem;
  margin-top: -0.8rem;
  cursor: pointer;
}
.lockButtonsWait {
  width: 24px;
  height: 24px;
  margin-top: 0.8rem;
  margin-right: 1.2rem;
}
