@import "../../theme.scss";

.userDetail {
  margin-top: 20px;
}

.sidebar {
  .section {
    margin-top: 20px;
  }
  .controls {
    margin-top: 20px;
  }
}

.listLeftCol {
  margin-right: 15px;
  font-weight: 500;
}
.listValue {
  margin-left: 5px;
}

.tabs {
  width: 100%;
}

.tabContent {
  padding: 1.7rem 1.2rem;
}

.nowrap {
  white-space: nowrap;
}

.deactivateButton {
  border-radius: 4px;
  border: none;
  background-color: $color-dark-red;
  color: white;
  padding: 10px;
}

.betaStat {
  font-style: italic;
  color: #00A3DF;
}
