.userDetail {
  margin-top: 20px;
}

.sidebar {
  .section {
    margin-top: 20px;
  }
}

.listLeftCol {
  margin-right: 15px;
  font-weight: 500;
}
.listValue {
  margin-left: 5px;
}

.tabs {
  width: 100%;
}
.tabContent {
  padding: 1.7rem 1.2rem;
}

.nowrap {
  white-space: nowrap;
}
